<div style="text-align: right;">
    <a href="/admin/logout" class="btn btn-secondary">Cerrar sesión</a>
</div>

<h2 class="mb-4">Panel Admin - Turnos</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Dueño</th>
            <th>Mascota</th>
            <th>Servicio</th>
            <th>Fecha</th>
            <th>Horario</th>
            <th>Email</th>
            <th>WhatsApp</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each turnos}}
        <tr>
            <td>{{id}}</td>
            <td>{{nombre_dueno}}</td>
            <td>{{nombre_mascota}}</td>
            <td>{{servicio}}</td>
            <td>{{fecha}}</td>
            <td>{{horario}}</td>
            <td>{{email}}</td>
            <td>{{whatsapp}}</td>
            <td>
               <td>
    <a href="/admin/editar/{{id}}" class="btn btn-warning btn-sm">Editar</a>
    <a href="/admin/eliminar/{{id}}" class="btn btn-danger btn-sm">Eliminar</a>
</td>

        </tr>
        {{/each}}
    </tbody>
</table>
